#pc-wrap {
  .join-page {
    position: relative;
    padding-top: 40px;
    width: 100%;
    height: auto;
    background: #141414;
    margin-top: -250px;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.9),
        rgba(20, 20, 20, 0.9)
      ),
      url("/img/icons/office-bg.svg") no-repeat center;
    background-size: cover;

    .container {
      justify-content: center;
      align-items: center;
      .main {
        width: 1290px;
        height: 900px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px 0px 0px 12px;

        .torusknot {
          position: absolute;
          top: 520px;
          left: 50px;
          width: 300px;
          height: 300px;
          z-index: 0;
        }
        .torusknot1 {
          position: absolute;
          top: 600px;
          left: 1000px;
          width: 150px;
          height: 150px;
        }
        .torusknot2 {
          position: absolute;
          top: 50px;
          left: 70px;
          width: 100px;
          height: 100px;
          opacity: 0.8;
        }

        .left {
          width: 50%;
          min-height: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          border: 1px solid #262626;
          position: relative;
          padding: 20px;
          color: white; // Ensures text remains visible

          background: linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0.8),
            rgba(20, 20, 20, 0.8)
          );
          .logo {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
            }
            span {
              margin-left: 10px;
              font-family: $font;
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 0.44px;
              color: #fff;
            }
          }
          .info {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
              font-family: $font;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: uppercase;
              color: #fff;
            }
            p {
              margin-top: 5px;
              font-family: $font;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              color: #999;
            }
          }

          .input-wrap {
            margin-top: 45px;
            width: 470px;
            display: flex;
            flex-direction: column;

            .input-box {
              margin-top: 20px;
              display: flex;
              flex-direction: column;
              &:first-child {
                margin-top: 0px;
              }
              span {
                margin-bottom: 8px;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: #fff;
              }
              input {
                padding: 0px 15px;
                width: 100%;
                height: 55px;
                border-radius: 8px;
                border: 1px solid #262626;
                background: #141414;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                color: #ddd;
                outline: none;
              }
            }
          }

          .register {
            margin-top: 45px;
            width: 470px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .type-option {
              display: flex;
              flex-direction: row;
              align-items: center;

              span.text {
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                color: #fff;
              }
              div {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                &:nth-child(1) {
                  margin-right: 25px;
                }
              }
            }
            .remember-info {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              a {
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                cursor: pointer;
                color: #fff;
              }
            }
            button {
              margin-top: 25px;
              width: 100%;
              height: 55px;
              border-radius: 12px;
              background: #eb6753;
              font-family: $font;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              color: #fff;

              img {
                filter: brightness(0) invert(1);
              }
            }
          }
          .ask-info {
            margin-top: 90px;
            p {
              font-family: $font;
              font-size: 20px;
              font-style: normal;
              line-height: normal;
              font-weight: 400;
              color: #fff;

              b {
                margin-left: 10px;
                font-weight: 800;
                font-size: 32px;
                cursor: pointer;
                color: #703bf7;
              }
            }
          }
        }
      }
    }
  }
}
