#pc-wrap {
  #property-list-page {
    padding-bottom: 40px;
    background: #141414;
    .container {
      .right {
        position: absolute;
        right: 0;
        top: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;
        color: #999999;

        button {
          margin-left: 10px;
          color: #ffffff;
          font-family: $font;
          font-size: 14px;
          font-style: normal;
          font-weight: bold;
          line-height: 26px;

          &:hover {
            background: none;
          }
        }
      }
      .property-page {
        position: relative;
        width: 100%;
        flex-direction: row;
        gap: 25px;
        padding-top: 96px;

        .filter-config {
          width: 339px;
          height: auto;

          .filter-main {
            width: 100%;
            padding: 30px 24px;
            border-radius: 12px;
            background: #141414;
            border: 1px solid #262626;
            .find-your-home {
              position: relative;
              width: 100%;
              gap: 10px;
              border: 1px solid #262626;
              border-radius: 10px;
              padding: 10px;

              .property-location {
                gap: 10px;
                height: 115px;
                overflow: hidden;
                transition: 1s;
                &:hover {
                  height: 253px;
                }
              }

              .title-main {
                width: 100%;
                height: 25px;
                color: #ffffff;
                font-family: $font;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }

              .title {
                width: auto;
                height: auto;
                color: #ffffff;
                font-family: $font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }

              .input-box {
                position: relative;
                width: 100%;
                flex-direction: row;
                align-items: center;
                svg {
                  cursor: pointer;
                }

                .search-input {
                  width: 100%;
                  height: 53px;
                  border-radius: 8px;
                  border: 1px solid #262626;
                  background: #141414;
                  outline: none;
                  padding-left: 3px;
                  color: #ffffff;
                  font-family: $font;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;

                  div {
                    display: flex;
                    width: 90px;
                    justify-content: space-between;
                    align-items: center;
                    background: transparent;
                    padding-left: 5px;
                  }
                }

                .property-checkbox {
                  width: 16px;
                  height: 15px;
                  border-radius: 10px;
                  margin-right: 10px;
                  color: #ffffff;

                  svg {
                    width: 19px;
                  }
                }
              }
              .city-select {
                width: 100%;
                height: 49px;
                border-radius: 8px;
                border: 1px solid #141414;
                background: #fff;
                outline: none;
                padding-left: 15px;
                appearance: none;
                cursor: pointer;
                color: #717171;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
              }
              .divider {
                position: absolute;
                height: 48px;
                border-left: 1px solid #262626;
                right: 39px;
                top: 31px;
              }
              .arrow-down {
                position: absolute;
                width: 15px;
                height: 8px;
                color: #ddd;
                right: 13px;
                top: 52px;
              }
              .property-type {
                color: #ffffff;
                font-family: "Arial";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
              }

              .button-group {
                width: 100%;
                height: 43.998px;
                flex-direction: row;

                button {
                  width: 100%;
                  color: #999999;
                  text-align: center;
                  font-family: $font;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
              }
              .square-year-input {
                width: 100%;
                gap: 10px;
                flex-direction: row;
                align-items: center;

                .central-divider {
                  width: 22px;
                  border: 1px solid #262626;
                }

                input {
                  width: 100%;
                  height: 49px;
                  border-radius: 8px;
                  border: 1px solid #262626;
                  background: #141414;
                  outline: none;
                  padding-left: 15px;
                  color: white;
                }
                label {
                  line-height: 13px;
                }
                input::placeholder {
                  color: #717171;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 26px;
                }
              }
            }
          }
        }
        .main-config {
          width: 936px;
          align-items: center;
          gap: 109px;

          .list-config {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 23px;

            .card-config {
              position: relative;
              width: 295px;
              height: 420px;
              display: flex;
              flex-direction: column;
              transition: transform 0.3s;
              justify-content: center;
              align-items: center;
              gap: 5px;
              border: 1px solid #262626;
              background: #141414;
              border-radius: 10px;

              &:hover {
                opacity: 1;
                transform: scale(1.05);
              }
              .top {
                position: relative;
                width: 100%;
                height: 220px;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                  height: 100%;
                }

                img {
                  position: relative;
                  width: 270px;
                  height: 220px;
                  background-size: cover;
                  border-radius: 12px;
                  cursor: pointer;
                }

                .top-badge {
                  position: absolute;
                  top: 10px;
                  left: 25px;
                  display: flex;
                  width: 80px;
                  height: 30px;
                  justify-content: center;
                  align-items: center;
                  border-radius: 6px;
                  padding: 6px 20px;
                  background: #eb6753;
                  color: #fff;
                  text-align: center;
                  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                  font-family: $font;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;

                  img {
                    height: 16px;
                  }
                }
                .price-box {
                  position: absolute;
                  bottom: 20px;
                  left: 20px;
                  padding: 8px 15px;
                  align-items: center;
                  border-radius: 6px;
                  border: 1px solid #262626;
                  background: #141414;
                  p {
                    color: #ffffff;
                    font-family: sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                  }
                }
              }

              .bottom {
                width: 270px;
                height: 173px;
                margin-top: 10px;
                margin-bottom: -20px;

                .name-address {
                  width: 100%;
                  height: 48px;
                  gap: 5px;
                  margin-bottom: 20px;

                  .name {
                    width: 100%;
                    height: 23px;
                    overflow: hidden;

                    p {
                      color: #fff;
                      font-family: $font;
                      font-size: 15px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                      text-transform: capitalize;
                    }
                  }
                  .address {
                    width: 100%;
                    overflow: hidden;
                    p {
                      color: #717171;
                      font-family: $font;
                      font-size: 13px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                    }
                  }
                }

                .options {
                  flex-direction: row;
                  width: 100%;
                  height: 25px;
                  margin-bottom: 20px;
                  justify-content: space-between;

                  .option {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 15px;
                    border: 1px solid #262626;
                    color: #ffffff;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 7px;
                    padding-bottom: 7px;

                    img {
                      margin-right: 5px;
                      width: 17px;
                      height: 17px;
                    }
                    p {
                      font-family: $font;
                      font-size: 10px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                    }
                  }
                }

                .type-buttons {
                  flex-direction: row;
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;

                  .buttons {
                    flex-direction: row;
                    width: auto;
                    justify-content: center;
                    align-items: center;

                    svg {
                      width: 24px;
                      height: 24px;
                      cursor: pointer;
                    }
                    .view-cnt {
                      font-size: 13px;
                      color: #ffffff;
                    }
                  }

                  .bott-btn {
                    width: 160px;
                    height: 40px;
                    background: #703bf7;
                    color: #ffffff;
                  }
                }
              }
            }
          }

          .pagination-config {
            border-bottom: 1px solid #262626;
            width: 442px;
            height: 86px;
            align-items: center;
            gap: 20px;

            .pagination-box {
              width: 100%;
              align-items: center;
            }

            .total-result {
              p {
                color: #999999;
                text-align: center;
                font-family: $font;
                font-size: 20px;
                font-style: normal;
                font-weight: 275;
                line-height: 26px;
              }
            }
          }
        }
      }
    }
  }
}
