.property-big-card-box {
  position: relative;
  width: 400px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #262626;
  border-radius: 12px;
  transition: transform 0.3s, opacity 0.3s;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  .card-img {
    position: relative;
    width: 360px;
    height: 200px;
    background-size: cover;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;

    div.status {
      position: absolute;
      padding: 6px 34px;
      left: 20px;
      top: 20px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      background: #eb6753;
      img {
        width: 14px;
        height: 14px;
      }
      span {
        margin-left: 5px;
        color: #fff;
        font-family: $font;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }
    div.price {
      position: absolute;
      padding: 8px 12px;
      left: 20px;
      bottom: 20px;
      border-radius: 6px;
      background: #141414;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .info {
    width: 360px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: transparent;
    padding-top: 5px;

    .title {
      overflow: hidden;
      color: #ffffff;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: $font;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      cursor: pointer;
    }
    .desc {
      margin-top: 5px;
      overflow: hidden;
      color: #999999;
      font-family: $font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .options {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        border: 1px solid #262626;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        img {
          margin-right: 5px;
          width: 17px;
          height: 17px;
        }
        span {
          font-family: $font;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: #ffffff;
        }
      }
    }

    .bott {
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
        color: #ffffff;
        font-family: $font;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      button {
        margin-left: 7px;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
      }
      .view-like-box {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
        .view-cnt {
          color: #717171;
          font-family: $font;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-overflow: ellipsis;
        }
      }
      .bott-btn {
        width: 250px;
        height: 40px;
        background: #703bf7;
        color: #ffffff;
      }
    }
  }
}

.agent-general-card {
  position: relative;
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #262626;
  border-radius: 10px;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.03);
  }

  .agent-img {
    border-radius: 12px;
    width: 213px;
    height: 253px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    div {
      position: absolute;
      padding: 12px;
      left: 20px;
      bottom: 95px;
      border-radius: 6px;
      background: #eb6753;
      color: #fff;
      font-family: $font;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .agent-desc {
    margin-top: 23px;
    margin-bottom: 10px;
    width: 213px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;

    .agent-info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      color: white;
      white-space: nowrap; /* Prevents text from wrapping */
      overflow: hidden; /* Hides the overflowing text */
      position: relative;
      width: 100px;

      strong {
        color: #ffffff;
        font-family: $font;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
      }
      span {
        color: #999999;
        font-family: $font;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }
    .buttons {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .view-cnt {
        font-size: 13px;
        color: #ffffff;
      }
    }
  }
}
.community-general-card-config {
  position: relative;
  height: 370px;
  gap: 20px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #262626;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
  .image-box {
    width: 100%;
    height: 283px;
    padding: 20px;

    .card-img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
  }
  .desc-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px;

    .title {
      color: #ffffff;
      font-family: $font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .desc {
      color: #999999;
      font-family: $font;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      text-transform: capitalize;
    }

    .buttons {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .view-cnt {
        font-size: 13px;
        color: #ffffff;
      }
    }
  }

  .date-box {
    position: absolute;
    width: 70px;
    height: 69.014px;
    align-items: center;
    justify-content: center;
    top: 210px;
    right: 30px;
    border-radius: 12px;
    background: #141414;
    .month {
      color: #ffffff;
      text-align: center;
      font-family: $font;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .day {
      color: #999999;
      font-family: $font;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
