#pc-wrap {
  #my-page {
    #my-favorites-page {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 57px;
      .main-title-box {
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        .right-box {
          width: 315px;

          .main-title {
            color: #fff;
            font-family: $font;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.6px;
            text-transform: capitalize;
          }
          .sub-title {
            color: #999999;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
          }
        }
      }
      .favorites-list-box {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;

        .card-config {
          position: relative;
          width: 295px;
          height: 420px;
          display: flex;
          flex-direction: column;
          transition: transform 0.3s;
          justify-content: center;
          align-items: center;
          gap: 5px;
          border: 1px solid #262626;
          background: #141414;
          border-radius: 12px;

          &:hover {
            opacity: 1;
            transform: scale(1.05);
          }

          .top {
            position: relative;
            width: 100%;
            height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              height: 100%;
            }

            img {
              position: relative;
              width: 280px;
              height: 220px;
              object-fit: cover;
              border-radius: 10px;
              cursor: pointer;
            }

            .top-badge {
              position: absolute;
              top: 10px;
              left: 25px;
              display: flex;
              width: 80px;
              height: 30px;
              justify-content: center;
              align-items: center;
              border-radius: 6px;
              padding: 6px 20px;
              background: #eb6753;
              color: #fff;
              text-align: center;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              font-family: $font;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;

              img {
                height: 16px;
              }
            }

            .price-box {
              position: absolute;
              bottom: 20px;
              left: 20px;
              padding: 8px 15px;
              align-items: center;
              border-radius: 6px;
              border: 1px solid #262626;
              background: #141414;

              p {
                color: #ffffff;
                font-family: sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }
          }

          .bottom {
            width: 300px;
            height: 200px;
            margin-bottom: -25px;

            .name-address {
              width: 100%;
              height: 48px;
              gap: 5px;
              margin-bottom: 20px;

              .name {
                width: 100%;
                height: 23px;
                overflow: hidden;

                p {
                  color: #fff;
                  font-family: $font;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  text-transform: capitalize;
                }
              }
              .address {
                width: 100%;
                overflow: hidden;
                height: 20px;
                p {
                  color: #999999;
                  font-family: $font;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }

            .options {
              display: flex;
              flex-direction: row;
              width: 100%;
              margin-bottom: 20px;
              justify-content: space-between;
              align-items: center;

              .option {
                display: flex;
                flex-direction: row;
                border-radius: 15px;
                border: 1px solid #262626;
                padding: 5px 9px 5px 9px;

                img {
                  width: 15px;
                  height: 15px;
                }
                p {
                  font-family: $font;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  color: #ffffff;
                }
              }
            }

            .type-buttons {
              flex-direction: row;
              width: 100%;
              align-items: center;

              .buttons {
                display: flex; /* Make it a flex container */
                flex-direction: row;
                width: 100px; /* Set a fixed width */
                justify-content: center; /* Center items horizontally */
                align-items: center; /* Align items vertically */

                svg {
                  width: 24px;
                  height: 24px;
                  cursor: pointer;
                }
                .view-cnt {
                  font-size: 12px;
                  color: #ffffff;
                }
                .css-199canp-MuiButtonBase-root-MuiIconButton-root {
                  padding: 0;
                }
                .css-whz9ym-MuiButtonBase-root-MuiIconButton-root {
                  padding: 0;
                  margin: 0;
                }
                padding: 0;
                gap: 7px;
                margin-right: 10px;
              }
              .bott-btn {
                width: 100%;
                height: 40px;
                background: #703bf7;
                color: #ffffff;
              }
            }
          }
        }
      }

      .pagination-config {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .total-result {
          p {
            color: #999999;
            text-align: center;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
          }
        }
      }
    }
  }
}
