#pc-wrap {
  .cs-page {
    position: relative;
    padding: 60px 0px 60px;
    width: 100%;
    height: auto;
    background-color: #141414;

    .container {
      display: flex;
      flex-direction: column;
      .cs-main-info {
        display: flex;
        flex-direction: column;
        .info {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            color: #fff;
            font-family: $font;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.525px;
          }
          p {
            color: #999999;
            font-family: $font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .btns {
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          :first-child {
            border-radius: 4px 0 0 4px;
          }
          :last-child {
            border-radius: 0 4px 4px 0;
          }

          div {
            width: 204px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #262626;
            cursor: pointer;
            color: #ffffff;
            font-family: $font;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.42px;

            &.active {
              border: 1px solid #725ce8;
              background: #703bf7;
              color: #fff;
            }
          }
        }
      }
      .cs-content {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 25px;
          color: #ffffff;
          font-family: $font;
          font-size: 27px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.54px;
        }
        .pagination {
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .notice-content {
          .main {
            border: 1px solid #262626;

            .top {
              padding: 25px 33px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              span {
                color: #ffffff;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
              }
            }

            .bottom {
              display: flex;
              flex-direction: column;
              .notice-card {
                padding: 20px 14px 20px 30px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: 1px solid #262626;

                &.event {
                  background: #1a1a1a;
                }
                div {
                  padding: 6px 9px;
                  border-radius: 12px;
                  border: 1px solid #262626;
                  color: red;
                  font-family: $font;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                }
                .notice-number {
                  margin-left: 18px;
                  width: 39px;
                  color: #999999;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                .notice-title {
                  width: 1000px;
                  color: #ffffff;
                  font-family: $font;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  border-right: 1px solid #262626;
                  border-left: 1px solid #262626;
                  padding-left: 5px;
                }
                .notice-content {
                  width: 800px;
                  color: #ffffff;
                  font-family: $font;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                .notice-date {
                  color: #999999;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }
          }
        }
        .faq-content {
          margin-top: 25px;
          display: flex;
          flex-direction: column;

          .categories {
            display: flex;
            flex-direction: row;
            justify-content: center;

            div {
              width: 14%;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              text-align: center;
              font-family: $font;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: -0.225px;

              cursor: pointer;
              &.active {
                border-bottom: 1px solid #703fb7;
                color: #703fb7;
              }
            }
          }

          .wrap {
            margin-top: 50px;
            .MuiAccordionDetails-root {
              padding: 30px 20px;
              background: #141414;
            }
            .badge {
              margin: 0 24px;
              display: inline-block;
              padding: 4px 10px;
              border-radius: 7px;
              color: #725ce8;
            }
            .question {
              background: #141414;
              color: #fff;
              border: none;
              .badge {
                background: #725ce8;
                border: 1px solid #725ce8;
                color: #fff;
              }
            }
            .answer {
              margin-left: 80px;
              display: flex;
              white-space: nowrap;
              align-items: center;
              flex-direction: row;
              background: #141414;
              color: #fff;

              .badge {
                color: red;
                border: 1px solid red;
              }
            }
          }
        }
      }
    }
  }
}
